{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container col-4 shadow-lg mt-5">
  <div class="row py-3">

    <i class="display-1 bi bi-exclamation-circle w-25 text-center mx-auto"></i>
    <h1 class="text-decoration-underline text-center">{% trans "Are you leaving?" %}</h1>

<p class="lead py-3">{% trans 'Are you sure you want to sign out? All your unsaved data will be lost.' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit" class="btn btn-danger w-100 mt-3">{% trans 'Sign Out' %}</button>
</form>
  </div>
</div>


{% endblock %}
